
body {
    margin: 0 auto;
}

.main-content {
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    height: 100%;   
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.typewrite {
    border: 1 solid darkgray;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid darkgray;
    font: 400 50px/1.8 "Lato", sans-serif;
    color: white;
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: blink 3.5s steps(20, end),
    blink-caret .75s step-end infinite;
}

@keyframes blink {
    from {width:0}
    to {width:52%}
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: darkgray; }
}

.icons {
    display: flex;
    padding-top: 4%;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-left: -5%;
    animation: fade 10s;
}

@keyframes fade {
    0% {opacity: 0;}
    50% {opacity: 50%;}
    50% {opacity: 100%;}
}

.resume {
    height: 100%;
    place-content: center;
    font: 400 75px/1.8 "Lato", sans-serif;
    background-image: linear-gradient(219deg, #2cb5e8 0%, #494d5f 100%); 
}

a {
    color: black;
}  
